.about-us-container {
    max-width: 1120px;
    padding: 2rem;
    color: #3498db;
    text-align: left;
    background-color: #3498dba8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
} 
  .about-us-container h1 {
    color: white ;
    margin-bottom: 20px;
  }
  
  .about-us-content {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
  }
  
  .about-us-content h2 {
    color: #3498db;
    margin-top: 20px;
  }
  
  .about-us-content ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .about-us-content li {
    margin-bottom: 10px;
  }