.auth-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: "Jersey 20", sans-serif;
    padding: 2rem 5rem;
  }
  

  
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form input,
  .auth-form select,
  .auth-form button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .auth-form button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: #2980b9;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }